* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* pseudo clase*/
:root {
    /*propiedad*/
    scroll-behavior: smooth;
}



body {
    font-family: 'Open Sans', sans-serif;
}



 .pdfview{
    margin: auto; 
    display: block;
    width: 850px;
    height: 150vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, .6);
   
 }
.n-pdf{
    font-size: 30px;
    margin-bottom: 20px;
    color: #2e2249; 
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.477) 0%, rgba(251, 194, 235, 0.471) 100%), url(../Image/Bogotá.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.seemenu {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}

.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}

.spread {
    /*aparecer de nuevo*/
    transform: translate(0);
}

.menu-navegacion a {
    color: #fff;
    text-decoration: none;
}

.titulo {
    font-size: 60px;
    margin-bottom: 15px;
}

.copy {
    font-weight: 300;
    font-size: 25px;
}

/*Tu salud auditiva*/
.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 50px;
}
.subtitulos{
    font-size: 30px;
}

.contenedor-salud {
    display: flex;
    justify-content: space-evenly; /*espacio equitativo eje y*/
    align-items: center;
    flex-wrap: wrap; /* si no cabe en misma linea lo pasa para abajo*/
}

.contenedor-salud img {
    width: 40%;
}

.medico-salud {
    width: 45%;
}

.salud {
    margin-bottom: 20px;
}

.n-salud {
    font-size: 25px;
    margin-bottom: 7px;
    color: #9f8ad0
}

.n-Video{
    font-size: 30px;
    margin-bottom: 20px;
    color: #2e2249; 
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}

.number {
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 45px;
    height: 45px;
    color: #fff;
    text-align: center;
    border-radius: 45%;
    font-weight: 600;
    line-height: 50px;
    margin-right: 5px;
}


.bloque3xd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-bloque3 {
    width: 30%;
    text-align: center;
    margin-bottom: 10px;
}

.contenedor-parte3 img {
    width: 20%;
    display: block;
    margin: 0 auto;
}

.n-parte3 {
    font-size: 25px;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}

/*Se viene el footer nea*/
footer {
    background: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    padding-bottom: 0.1px;
    /*colapsado de margenes para ello el pading o un border*/
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    color: #fff
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover {
    background: #fff;
    color: #764ba2;
}

.social-media-icon i {
    font-size: 40px;
    line-height: 60px;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*Version para cel, puntos de quiebre 800 y 500*/
@media screen and (max-width: 800px) {
    .menu-navegacion {
        width: 50vw;
    }
    .titulo {
        font-size: 20px;
    }
    .contenedor-salud img {
        width: 80%;
        margin-bottom: 40px;
    }
   .medico-salud{
        width: 80%;
    }

    .n-Video{
        padding-bottom:56.25;
        height: 0;
        overflow: hidden;
        position: relative;
    }
    .pdfview{
        margin:auto; 
        display: block;
        width: 400px;
        height: 400vh;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0, .2);
     }

   .salud{
    margin-bottom: 30px;
}

 .img-Tablas{
    width: 45%;
 }

 .contenedor-bloque3{
    width: 90%; 
 }
 .contenedor-bloque3 img {
    width: 45%;
    display: block;
    margin: 0 auto;
}


 .footer-content{
justify-content: center;
 }

 .social-media{
    width: 80%;
    justify-content: space-evenly;
 }
.social-media-icon{
    margin-left: 0%;
}
 .social-media i{
    margin-left: 0;
 }
  
 .contact-us{
    text-align: center;
    width: 80%;
    margin-bottom: 10%;
 }
}

/*ajustar para 300 en su ancho*/
@media screen and (max-width: 500px){
  .menu-navegacion{
    width: 65vw;
  }
  .seemenu{
    top: 20px;
    right: 20px;
  }

  .pdfview{
    margin: auto; 
    display: block;
    width: 250px;
    height: 100vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, .6);
 }

  .titulo{
    font-size: 30px;
  }
  .subtitulo{
    font-size: 30px;
  }
  .social-media{
    width: 100%;
  }
.contact-us{
    width: 90%;
}

}



